body {
  display: flex;
  flex-flow: column;
  align-items: center;
  background-image: url(./assets/images/puppy_field.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#background-image {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.puppy-img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid black;
}

#all-players-container {
  display: flex;
  flex-flow: row wrap;
  width: 70%;
  justify-content: space-evenly;
}

.puppy-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255,0.5);
  width: 20rem;
  height: 30rem;
  margin-top: 2%;
  margin-bottom: 2%;
  background-size: cover;
  background-position: center;
  font-size: 2rem;
  border-radius: 20px;
}

#puppy-details-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 40rem;
  height: 50rem;
  padding: 2%;
  background-color: rgba(255, 255, 255,0.5);
  font-size: large;
  border-radius: 20px;
}

.player-text {
  background-color: rgba(255, 255, 255,0.5);
}

.detail-text {
  font-size: 1.2rem;
}

.player-details {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: end;
  
}

div {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#team-img {
  border-radius: 10%;
  width: 120%
}

#navbar {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.links {
  font-size: 2rem;
}

a:link {
  color: black
}
a:visited {
  color: black;
}

a:hover {
  color: grey;
}

a:active {
  color: blue;
}